{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accommodation</title>
</head>
<body>
{% include "html/header.html" %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{% static 'images/hotel1.jpeg' %}" alt="" width="170px;" height="200px">
        <h5>Hotel Dreams</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0470-7825103</h6>
    </div>
    <div class="col">
     <img src="{% static 'images/hotel2.jpeg' %}" alt="" width="170px;" height="200px">
        <h5>Hotel Trident</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0477-3856120</h6>
    </div>
    <div class="col">
      <img src="{% static 'images/hotel3.jpeg' %}" alt="" width="170px;" height="200px">
        <h5>Hotel Burooj Luxury</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0470-7512460</h6>
    </div>
      <div class="col">
          <h3><u>Find your Location</u></h3>
          <p style="text-align: justify; font-size: 16px;">When  You searches for a hotel on your website, Google Maps Platform and Places provides you with a relevant answer in 100% of cases. ... You can combine visitors' queries with tourist attractions (places to visit, restaurants, railway stations and airports, etc.)</p>
          <h1><p style="text-align: center;"><i class="fas fa-arrow-circle-down"></i></p></h1>
           </div>
  </div>
    <br>
    <div class="row">
    <div class="col">
     <img src="{% static 'images/hotel4.jpeg' %}" alt="..."  width="200px;" height="200px">
        <h5>Hotel Elegance</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0477-7234567</h6>
    </div>
    <div class="col">
     <img src="{% static 'images/hotel5.jpeg' %}"  alt="..."  width="200px;" height="200px">
        <h5>Hotel Palace Inn</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0470-7542963</h6>
    </div>

    <div class="col">
     <img src="{% static 'images/hotel6.jpeg' %}"  alt="..." width="200px;" height="200px">
        <h5>Hotel Casino</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0470-2459785</h6>
    </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126271.88556177107!2d76.85412606734728!3d8.49972669195146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bbb805bbcd47%3A0x15439fab5c5c81cb!2sThiruvananthapuram%2C%20Kerala!5e0!3m2!1sen!2sin!4v1633758913048!5m2!1sen!2sin" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>           </div>
  </div>
    <br>
    <div class="row">
    <div class="col">
     <img src="{% static 'images/hotel7.jpeg' %}"  alt="..." width="200px;" height="200px">
        <h5>Hotel Marine Plaza</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0477-7891230</h6>
    </div>
    <div class="col">
     <img src="{% static 'images/hotel8.jpeg' %}"  alt="..." width="200px;" height="200px">
        <h5>Hotel Niko</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0477-4512963</h6>
    </div>
    <div class="col">
      <img src="{% static 'images/hotel9.jpeg' %}"  alt="..." width="200px;" height="200px">
        <h5>Hotel Venturaa</h5>
        <h6><i class="fas fa-phone-alt"></i> &nbsp;0470-7412583</h6>
    </div>

        <div class="col">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15702.488870016501!2d76.50578547739613!3d10.291992082420597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07ff02bf6d87a5%3A0x5cffa858845b2c6e!2sAthirappilly%2C%20Vettilappara%2C%20Pariyaram%2C%20Kerala%20680724!5e0!3m2!1sen!2sin!4v1633759059779!5m2!1sen!2sin" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>           </div>
  </div>
</div>
{% include "html/footer.html" %}

</body>
</html>