{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>

</head>
<body>
{% include "html/header.html" %}
<div class="container">
   <div class="row">
  <div class="col-sm-6">
    <div class="card">
<iframe width="500" height="500" src="https://www.youtube.com/embed/oI84oM_bJeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    </div>
        <div class="col-sm-6">
    <div class="card">
<iframe width="500" height="500" src="https://www.youtube.com/embed/GBbcYtkqVKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
    </div>
  </div>
</div>

   <div class="row">
  <div class="col-sm-4">
    <div class="card">
        <div>August-15-2021</div>
     <img src="{% static 'images/gal.jpeg' %}" class="card-img-top" alt="..." width="200px;" height="200px">
  </div>
    </div>
    <div class="col-sm-4">
    <div class="card">
        <div>May-07-2021</div>
          <img src="{% static 'images/gal2.jpeg' %}" class="card-img-top" alt="..." width="200px;" height="200px">
    </div>
  </div>
         <div class="col-sm-4">
    <div class="card">
        <div>May-10-2021</div>
          <img src="{% static 'images/gal3.jpeg' %}" class="card-img-top" alt="..." width="200px;" height="200px">
    </div>
  </div>

</div>



{% include "html/footer.html" %}


</body>
</html>